@model IEnumerable<Proyecto_Sebet.Models.LegalForm>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripionL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripionL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLegalForm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLegalForm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLegalForm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
